{% extends 'base.html.twig'%}

{% block body %}
    <div id="colorlib-rooms" class="colorlib-light-grey" style="background-image : url('{{ asset('assets/images/img_bg_3.jpg')}}');background-repeat:no-repeat;background-position:center center; width:100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>Editer ma réservation </h2>
                </div>
            </div>
        </div>
    </div>

    {{ include('reservation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('reservation_index') }}">Retour</a>

    {{ include('reservation/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
{% endblock %}
