{% extends 'base.html.twig'%}

{% block body %}
<title>New Reservation</title>
	<div id="colorlib-rooms" class="colorlib-light-grey" style="background-image : url('{{ asset('assets/images/img_bg_3.jpg')}}');background-repeat:no-repeat;background-position:center center; width:100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
					<h2>Faire une réservation</h2>
				</div>
			</div>
		</div>
	</div>

    {{ include('reservation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('room_show', {'id': room.id}) }}">Retour</a>
{% endblock %}
